@use '../../../shared/assets/styles/abstracts/mixins' as *;
.login-module {
  height: 100vh;
  width: 100vw;
  
  @include Flex();
  @media only screen and (max-width: 475px) {
    .login-card-container {
      width: 85%;
    }
  }
  &__card {
    @include Flex(column, space-between, center);
    padding-bottom: 3rem;
    width: 20rem;
    height: 30rem;
    position: relative;
    border: none;
    border-radius: 1rem;
    &__title {
      font-size: 2.5rem;
      color: white;
      font-weight: 500;
      font-size: 3.2rem;
      text-align: center;
      line-height: 4.8rem;
      letter-spacing: 1.29px
    }
    &__description{
      color: white;
      text-align: center;
      font-weight: 300;
      size: 0.8rem;
      width: 17.5rem;
      margin-top: 1rem;
      font-family: Nunito;
      line-height: 1.25rem;
      letter-spacing: 0.3440000116825104px;


    }
    button{
      width: 12.7rem;
      height: 2.6rem;
      size: 0.85rem;
      font-weight: 600;
      border-radius: 8px;
      box-shadow: -2px -2px 5px 2px rgba(255, 255, 255, 0.047) inset;
      box-shadow: 2px 2px 5px 1px rgba(204, 219, 232, 0.1) inset;
      background: linear-gradient(84deg, #000000 0%, rgba(203, 203, 203, 0.267755) 99.98%, rgba(255, 255, 255, 0.08) 99.99%, #000000 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.7rem;


    }
    .button-icon{
      width: 25.79px;
      height: 25.79px;
      top: 8.6px;
      left: 17.19px;
      gap: 0px;
      border-radius: 12.9px 0px 0px 0px;
      opacity: 0px;

    }
    .button-desc{
      color: white;
      font-family: Nunito;
      font-size: 13.8px;
      font-weight: 600;
      line-height: 13.76px;
      letter-spacing: 0.3440000116825104px;
      text-align: left;

    }

  }
}
